<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <style>
        a {
            border: 1px solid black;
            padding: 5px;
            text-decoration: none;
            color: black;
            margin-left: 100px;
        }

    </style>
</head>
<body>
    <a href="/displaygraph" target="_blank">Visualize Graph</a>
    <a href="/totalentries" target="_blank">Total Entries</a>
    <a href="/maxtemp" target="_blank">Maximum Temperature Recorded</a>
    <a href="/avgtemp" target="_blank">Average Temperature</a>
    <a href="/showtable" target="_blank">Show all entries in a table</a>
</body>
</html>